p{
    color: rgb(12, 12, 12);
}
.fondo{
/*     background-image: url("../img/los-simpsons.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; */
    background-color: rgb(180, 124, 206);
    height: 120px;
  } 
.class_navbar{
   
    padding-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}
.personajes{
   
    margin-top: 49px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;  
}
.personajes ul li{
     list-style:none
}
.lista{
    margin-top: 30px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}